<template name="TableHeader">

  <div class="row table-header">
    <div class="col-md-6 entry-option">
      
      <ul class="nav nav-pills">
        Show&nbsp;
        {{#each item in settings.entries}}
          <li class="{{selectedEntry item}}" role="presentation"><a href="#" data-entry="{{item}}">{{item}}</a></li>
        {{/each}}
        &nbsp;entries
      </ul>
      {{#if settings.dynamic_fields}}
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="extra-columns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Extra columns
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="extra-columns">
            {{#each item in settings.dynamic_fields}}
              <li 
                data-field="{{item.data}}" 
                data-name="{{item.title}}" 
                data-orderable="{{getString item.orderable}}" 
                data-searchable="{{getString item.searchable}}">
                <a href="#">{{item.title}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
  
    <div class="col-md-6">

      <div class="form-group pull-right">
        <input type="text" class="form-control" id="search-box" value="{{settings.current.search_string}}" placeholder="Search..">
      </div>
    
    </div>
  </div>
  
</template>