<template name="TableHeader">

  <div class="row">
    <div class="col-md-6 entry-option">
      
      <ul class="nav nav-pills">
        Show&nbsp;
        {{#each option in settings.entries}} 
          <li class="{{selectedEntry option}}" role="presentation"><a href="#" data-entry="{{option}}">{{option}}</a></li>
        {{/each}}
        &nbsp;entries
      </ul>
    
    </div>
    <div class="col-md-6">

      <div class="form-group pull-right">
        <input type="text" class="form-control" id="search-box" placeholder="Search..">
      </div>
    
    </div>
  </div>
  
</template>