<template name="MeteorTable">
  <div class="meteor-table-wrapper">
    {{> TableHeader settings=settings selector=selector fields=fields filter=filter}}
    
    <div class="table-wrapper">
      
      <table class="{{#if classes}} {{classes}} {{else}}table table-hover{{/if}}">
        <thead>
          <tr>
            {{#each column in table_headers}}
              {{> table_header settings=settings fields=fields column=column}}
            {{/each}}
          </tr>
        </thead>
        <tbody>
          
            {{#each documents}}
              {{> Template.dynamic template=template }}
            {{/each}}
            {{#if noData}}
              <tr>
                <td>No data available in table</td>
              </tr>
            {{/if}}
          
        </tbody>
      </table>
    
    </div>
    
    {{> TableFooter settings=settings selector=selector options=options result=result}}

    {{#unless ready}}
      {{> MeteorTablesLoading}}
    {{/unless}}
  </div>
</template>