<template name="MeteorTable">

  {{> TableHeader settings=settings selector=selector fields=fields filter=filter}}
  
  <div class="table-wrapper">
    
    <table class="table table-hover">
      <thead>
        <tr>
          {{#each column in table_headers}}
            {{> table_header settings=settings fields=fields column=column}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#if Template.subscriptionsReady}}
          {{#each documents}}
            {{> Template.dynamic template=template }}
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  
  </div>

  {{> TableFooter settings=settings selector=selector result=result}}
  
</template>