@import 'components/table_headers';
@import 'components/header';
@import 'components/footer';
@import 'components/loading';

.meteor-table-wrapper {
  position: relative;
}

.table-wrapper {
  overflow-x: scroll;

  td, th {
    white-space: nowrap;
  }
}